body{
  font-family: Arial;
  display: flex;
}

main{
  display: flex;
}
.contenedor{
  width: 90%;
  max-width: 1040px;
  
}
.inicio{
  background:#B82C2C;; 
  font-weight:"bold"
}
.historia{
  background:#B82C2C;
  text-align: justify;
  padding: 20px 30px 20px 30px;
}

p{
  color:burlywood;
  margin-bottom: 0 
}
p + p {
  text-indent: 1.5em;
  margin-top: 0 
}
img{
  height: 200px;
  width: 350px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  
}
.tarjeta{
  width: 100%;
  max-width: 700px;
  padding: 40px 20 px;
  display: flex;
  flex-direction: column;
}

.tarjeta > div{
  padding: 30px;
  border-radius: 15px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 black;
}
.tarjeta .delantera{
  width: 100%;
  background: url(../Logos/fondo.jpg);
  background-size: cover;
  
}
.delantera .chip img{
  width: 40px;
  height: 40px;
  
}
.tarjeta .delantera .label {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.tarjeta .delantera .numero {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}


.box{
    position: relative;
    background: #B82C2C;
    max-width: 400px;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}


h1{
  position: absolute;
  width: 425px;
  height: 62px;
  left: 527px;
  top: 42px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: honeydew;
}

h2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: honeydew;
}
ul{
    list-style: none;
  }
#menu li>a{
  background-color: gray;
  color: white;
  padding: 1px;
  display: flex;
  text-decoration: none;
  min-width: 10px;
  width: 150px;
  height: 50px;
  left: 10px;
  top: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;

}
#menu li>a:hover{
  color: black;
  background-color: #eaeaea;
}
#menu>li{
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}
.mensaje{
  text-decoration-color: white;
  font-size: large;
  border: 10px solid green;

}
