body{
  font-family: Arial;
  display: flex;
}

main{
  display: flex;
}
.contenedor{
  width: 90%;
  max-width: 1200px;
  
}
.inicio{
  background:#B82C2C;; 
}
.inicio img{
  height: 180px;
  width: 350px;
  border-radius: 45%;
  
}
/*Estilos a la historia*/
.historia{
  background:#B82C2C;
  text-align: justify;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;

}
/*Estilo a los parrafos*/
p{
  color:azure;
  margin-bottom: 0 
}
p + p {
  text-indent: 1.5em;
  margin-top: 0 
}

/*Estilo a las imagenes del producto*/
.producto img{
  padding: 10px 10px 10px 10px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:solid 3px;
  
}

/*Estilos a la tarjeta */
.tarjeta{
  width: 100%;
  max-width: 700px;
  padding: 40px 20 px;
  display: flex;
  flex-direction: column;
}

.tarjeta > div{
  padding: 30px;
  border-radius: 15px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 black;
}
.tarjeta .delantera{
  width: 100%;
  background: url(../Logos/fondo.jpg);
  background-size: cover;
  
}
.delantera .chip img{
  width: 40px;
  height: 40px;
  
}
.tarjeta .delantera .label {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.tarjeta .delantera .numero {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

/*Contenedor de el area de sistema de pago*/
.box{
    position: relative;
    background: #B82C2C;
    max-width: 400px;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

/*Estilo a los titulos*/
h1{
  position: absolute;
  width: 425px;
  height: 62px;
  left: 527px;
  top: 42px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 63px;
  text-align: center;
  color: azure;
}

h2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: honeydew;
}
/*Estilos a los botones*/
.numero_tarjeta{
  text-align: center;
}
#numero_tarjeta{
  text-align: center;
  width: 185px;
  height: 30px;
  
}
.boton{
  text-align: center;
}
.validacion{
  border:solid cornflowerblue;
  background: blue;
  width: 85px;
  height: 30px;
  color: azure;
}
.validacion:disabled,
.validacion[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.validacion1{
  border:solid cornflowerblue;
  background-color: blue;
  width: 125px;
  height: 30px;
  color: azure;
}
/*Estilo a el menu*/
ul{
    list-style: none;
  }
#menu li>a{
  background-color: gray;
  color: white;
  padding: 1px;
  display: flex;
  text-decoration: none;
  min-width: 10px;
  width: 150px;
  height: 50px;
  left: 10px;
  top: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;

}
#menu li>a:hover{
  color: black;
  background-color: #eaeaea;
}
#menu>li{
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}
/*Estilos al mensaje de validacion*/
.mensaje{
  text-decoration-color: white;
  font-size: large;
  border: black;
  display: none;
  text-align: center;
}

.hide{
display: block;

}
#valido{
  background: green;
  color: azure;
  border: solid gold;
}

/*Estilos del Pie de pagina*/
.pie_de_pagina{
  color:gray;
  border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 5px 5px 5px 5px;
	margin: 100px ;
	height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pie_de_pagina img{
  height: 20px;
  width: 30px;
}
#pie_de_pagina{
  color:gray;
}